.header{
    position:fixed;
    width: auto;
    height: 70px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
    z-index: 301;
    background-color: white  ;
    top: 0px;
    left: 0px;
    right: 0px;
}
.header-logo{
    position:fixed;
    display: block;
    width: 60px;
    height: 60px;
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;

    background-image:url(https://linailnox.github.io/images/favicon.ico);
    background-size: 60px 60px;
    background-position:top left;
    border-radius:10px;
}   
.header-search{
    width: 100px;
    height: 50px;
    top: 5px;
    right: 380px;
    bottom: 5px;
    position:fixed;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    background-color: #f4f4f4;

}
.header-search-input{
    opacity: 1; 
    color: #afafaf;
    width: 100px;
    border: none;
    outline: none;
    background: none;
    font-size: inherit;
}
.header-search-button{
    font-size: 15px;
    background: none;
    border: none;
    cursor: pointer;
}
.header-search-button-icon{
    width: 19px;
    height: 19px;
}
.header-link-A{
    position:fixed;
    color: black;
    background-color: white  ; 
    text-decoration: none;
    font-size: 14px;
    top: 25px;
    right: 280px;
} 
 .header-link-B{
    position:fixed;
    color: black;
    background-color: white  ; 
    text-decoration: none;
    font-size: 14px;
    top: 25px;
    right: 180px;
}  
.header-link-C{
    position:fixed;
    color: black;
    background-color: white  ;
    text-decoration: none; 
    font-size: 14px;
    top: 25px;
    right: 80px;
}  
.header-link-D{
    position:fixed;
    color: black;
    background-color: white  ; 
    text-decoration: none;
    font-size: 14px;
    top: 25px;
    right: 20px;
}
.header-place{
    position:relative;
    display: block;
    width: auto;
    height: 70px;
    z-index: 301;
    top: -8px;
    left: -15px;
    right: 0px;
}