html {
	background-color: var(--el-bg-color);
	transition: background-color var(--el-transition-duration);
}
html.dark {
	--el-fill-color-blank: black !important;
}

body {
	margin: 0;
}

html,
body,
#__nuxt {
	height: 100%;
}

@font-face {
	font-family: "LXGW WenKai Screen";
	src: url("@/assets/fonts/LXGWWenKaiScreen.ttf");
}
